h1{
	text-align: center;
}

#slider{
	text-align: center;
}



#panel{
	margin-top: 150px;
	margin-bottom: 30px;
	background-color: white;
	height:300px;
	width:700px;
	margin-left:400px;
	margin-right: 400px;
	text-align: center;
}

body{
	
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Toilet_paper_orientation_under.jpg/200px-Toilet_paper_orientation_under.jpg");
}